:root {
  --tpa-spacing-1: 4px;
  --tpa-spacing-2: 8px;
  --tpa-spacing-3: 12px;
  --tpa-spacing-4: 16px;
  --tpa-spacing-5: 20px;
  --tpa-spacing-6: 24px;
  --tpa-spacing-7: 32px;
  --tpa-spacing-8: 40px;

  --tpa-title-color: #0968DA;
  --tpa-text-color: #6C757E;
}
